

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<link rel="stylesheet" type="text/css" href="shop.css">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" ><b><font size = 36px style = Times>Flipozon</font></b></a>
            </div>

            <div class="collapse navbar-collapse">
            <link rel="stylesheet" type="text/css" href="shop.css">
              <ul class="nav navbar-nav navbar-right">
               
                <li><a href = "#/login">Login</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav>
        <br>
<br>
<br>
<br>
<br>

    <div class="container">
    <link rel="stylesheet" type="text/css" href="shop.css">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Shop Categories</p>
                <div class="list-group">
                  <a href="#" class="list-group-item active">Electronics</a>
                  <a href="#/Clothes" class="list-group-item">Clothes</a>
                  <a href="#/Books" class="list-group-item">Books</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row" style="margin-bottom:30px;">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                        	  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        	  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        	  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        	</ol>
                        	<div class="carousel-inner">
                        	  <div class="item active">
                        	    
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                        <img src="images/e6.jpeg" alt="" style="width:320px;height:128px;">
                        <div class="caption">
                          <h3>e6</h3>
                          <p></p>
                          <p>
                            
                          </p>
                        </div>
                      </div>
                    </div>
                                    <div class="col-xs-6 col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                        <img src="images/index.jpeg" alt="" style="width:320px;height:128px;">
                        <div class="caption">
                          <h3>index</h3>
                          <p></p>
                          <p>
                            
                          </p>
                        </div>
                      </div>
                    </div>
                                    <div class="col-xs-6 col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                        <img src="images/e1.jpeg" alt="" style="width:320px;height:128px;">
                        <div class="caption">
                          <h3>e1</h3>
                          <p></p>
                          <p>
                            
                          </p>
                        </div>
                      </div>
                    </div>
                                    <div class="col-xs-6 col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                        <img src="images/e2.jpeg" style="width:320px;height:128px;" >
                        <div class="caption">
                          <h3>e2</h3>
                          <p></p>
                          <p>
                            
                          </p>
                        </div>
                      </div>
                    </div>
                                    <div class="col-xs-6 col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                        <img src="images/e3.jpeg" style="width:320px;height:128px;">
                        <div class="caption">
                          <h3>e3</h3>
                          <p></p>
                          <p>
                            
                          </p>
                        </div>
                      </div>
                    </div>
                                    <div class="col-xs-6 col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                        <img src="images/e4.jpeg" alt="" style="width:320px;height:128px;" >
                        <div class="caption">
                          <h3>e4</h3>
                          <p></p>
                          <p>
                            
                          </p>
                        </div>
                      </div>
                    </div>
                                    <div class="col-xs-6 col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                        <img src="images/e5.jpeg" alt="" style="width:320px;height:128px;" > 
                        <div class="caption">
                          <h3>e5</h3>
                          <p></p>
                          
                            
   